### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#calculate the number of unique players
total_player_count = purchase_data["SN"].nunique()

#create a dataframe to display the results
total_player_count_df = pd.DataFrame({"Total Players": [total_player_count]})
total_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#calculate the number of unique items
unique_items_count = purchase_data["Item ID"].nunique()

#calculate the average price
avg_price = round(purchase_data["Price"].mean(),2)

#calculate the total number of purchases
purchase_count = purchase_data["Purchase ID"].nunique()

#calculate the sum of all purchases
total_rev = purchase_data["Price"].sum()

#create a dataframe to display the results
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_count],
                                      "Average Price": "$"+str(avg_price),
                                      "Number of Purchases": purchase_count,
                                      "Total Revenue": "$"+str(total_rev)})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

In [4]:
#group the data by gender for unique players (SN) and find the count of players
gender_demographics_df = purchase_data.groupby('Gender').agg({'SN':'nunique'})

#find total number of players
total_player_count = gender_demographics_df['SN'].sum()

#find the percentage of players and add it as a column to the table
gender_demographics_df['Percentage of Players'] = (gender_demographics_df['SN']/total_player_count)

#rename the column names
gender_demographics_df.columns=["Total Count","Percentage of Players"]

#format Percentage of Players
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)

gender_demographics_df

                       Total Count Percentage of Players
Gender
Female                          81                 0.14%
Male                           484                 0.84%
Other / Non-Disclosed           11                 0.02%

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#group the data by gender and find the purchase count, 
#the average price and the total price
purchase_analysis_df = purchase_data.groupby('Gender').agg({'Purchase ID':'count',
                                                      'Price': ['mean','sum']})
#rename the columns
purchase_analysis_df.columns=['Purchase Count', 
                             'Average Purchase Price', 
                             'Total Purchase Value']

#find the average total purchase per person
total_purchase = purchase_analysis_df['Total Purchase Value']
gender_count = gender_df['Total Count']
purchase_analysis_df["Avg Total Purchase per Person"] = total_purchase/gender_count

#format and display the data
purchase_analysis_df['Average Purchase Price'] = purchase_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
purchase_analysis_df['Total Purchase Value'] = purchase_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
purchase_analysis_df['Avg Total Purchase per Person'] = purchase_analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)

purchase_analysis_df

NameError: name 'gender_df' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [6]:
#group data by unique players (SN)
grouped_top_spenders_df = purchase_data.groupby(['SN'])

#calculate the number of items, average purchase price 
#and total purchase value made by the players
top_spenders_df = grouped_top_spenders_df['Price'].agg(['count', 'mean', 'sum'])

#rename the columns
newtop_spenders_df = top_spenders_df.rename(columns={'count':'Purchase Count', 
                                                    'mean':'Average Purchase Price',
                                                    'sum': 'Total Purchase Value'})

#sort Total Purchase Value in descending order
newtop_spenders_df.sort_values("Total Purchase Value", ascending=False, inplace=True)

#format the data and display
newtop_spenders_df['Average Purchase Price'] = newtop_spenders_df['Average Purchase Price'].map("${:,.2f}".format)
newtop_spenders_df['Total Purchase Value'] = newtop_spenders_df['Total Purchase Value'].map("${:,.2f}".format)
newtop_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# create a dataframe with Item ID, Item Name, and Item Price
items_df = purchase_data[['Item ID','Item Name','Price']]

# group the data by Item ID and Item Name
grouped_items_df = items_df.groupby(['Item ID','Item Name'])

#find the purchase count, the average price and the total purchase value
purchase_count = grouped_items_df.count()
item_price = grouped_items_df.mean()
total_purchase_value = grouped_items_df.sum()

#create the summary dataframe
most_pop_items_df = pd.DataFrame(purchase_count)

#rename the Purchase Count column
most_pop_items_df.rename(columns={'Price':"Purchase Count"},inplace=True)
most_pop_items_df['Item Price'] = item_price
most_pop_items_df['Total Purchase Value'] = total_purchase_value

most_pop_items_df['Item Price'] = most_pop_items_df['Item Price'].map('${0:,.2f}'.format)
most_pop_items_df['Total Purchase Value'] = most_pop_items_df['Total Purchase Value'].map('${0:,.2f}'.format)

#sort the data by purchase count in descending order
most_pop_items_df.sort_values('Purchase Count', ascending=False, inplace=True)

#format and display the data
most_pop_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#create the most profitable items dataframe
most_profit_items_df = pd.DataFrame(items_summary_df)

#rename the Purchase Count column
most_profit_items_df.rename(columns={'Price':"Purchase Count"},inplace=True)
most_profit_items_df['Item Price'] = item_price
most_profit_items_df['Total Purchase Value'] = total_purchase_value

#sort the data by total purchase value in descending order
most_profit_items_df.sort_values('Total Purchase Value', ascending=False, inplace=True)

#format and display the data
most_profit_items_df['Item Price'] = most_profit_items_df['Item Price'].map('${0:,.2f}'.format)
most_profit_items_df['Total Purchase Value'] = most_profit_items_df['Total Purchase Value'].map('${0:,.2f}'.format)

most_profit_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80